.gitignored
*/.gitignored
*/**/.gitignored
node_modules
*/node_modules
*/**/node_modules
.turbo
build/**
dist/**
.next/**
.env
*/.env
*/**/.env

.DS_Store
*/.DS_Store
*/**/.DS_Store

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

yarn-error.log

# Supabase Directory
supabase/.temp/
supabase/.seeds-local
supabase/.backups

# Playwright tests
test-results

# Test artifacts
.test-artifacts
*.test-artifacts
*/.test-artifacts
*/**/.test-artifacts
.aider*

test_output
*/test_output
*/**/test_output

test_outputs
*/test_outputs
*/**/test_outputs

playwright-report
*/playwright-report
*/**/playwright-report

evaluation-results/**
*/evaluation-results
*/**/evaluation-results

logs/*